.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--hover-grey);
}

.btn.green:not(:disabled) {
  background-color: var(--green);
  color: var(--white);
}

.btn.dark-blue:not(:disabled) {
  background-color: var(--dark-blue);
  color: var(--white);
}

.btn.dark-blue:hover:not(:disabled) {
  background-color: var(--blue);
}

.btn.light-grey:not(:disabled) {
  background-color: var(--light-grey);
  color: var(--dark-blu);
}

.btn.light-grey:hover:not(:disabled) {
  background-color: var(--hover-grey);
}

.btn.small {
  padding: 0 1rem;
  height: 24px;
}

.btn.medium {
  padding: 0 2rem;
  height: 32px;
}

.btn.compact {
  width: fit-content;
}

.btn.full-width {
  width: 100%;
}
