.orderDetail {
  flex: 1 1;
  display: flex;
  background-color: var(--selected);
  overflow: auto;
  flex-direction: column;
}

.orderDetail > header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.orderDetailItems {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow: auto;
}

.orderDetailItems p,
.orderDetailItems h3 {
  margin: 0;
}

.orderDetailItem {
  display: flex;
  justify-content: space-between;
}

.orderDetailItemInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.completeBtn {
  padding: 20px;
}
