header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.actionBtns {
  display: flex;
  gap: 8px;
}

.pageContent {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 0 20px 0 20px;
  overflow: hidden;
}

.sidePanelWrapper {
  flex: 1;
  display: flex;
  margin-bottom: 20px;
  padding: 20px 20px 0 0;
}

.mealCards {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
  overflow: auto;
  padding: 20px;
  padding-bottom: 20px;
}
