.customerActionContainer {
  background-color: var(--grey);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customerActionContainer.regular {
  flex: 1;
}

.customerActionContainer.big {
  flex: 2;
}

.customerActionContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  align-items: center;
}

.customerActionContent h3 {
  padding: 0 2rem;
}
